:root{
    --main-bg-color:#84A178;
    --accent-color:#F8D24E;
    --main-text-color:#FCFCFC;
    --add-text-color:#131313;
}
body{
    font-family: Montserrat;
    background-color: var(--main-bg-color);
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    padding: 0;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container{
    width: 1197px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    padding-bottom: 13px;
    padding-top: 32px;
}
.header .container {
    display: flex;
    align-items: center
}
.logo-div{
display: flex;
margin-right: 308px;
}
.logo-text{
    text-align: center;
    -webkit-text-stroke: 1px var(--accent-color);
    color: var(--main-bg-color);
        font-family: Seymour One;
        font-size: 21.76px;
        font-weight: 400;
        letter-spacing: -2.176px;
        margin-top: 32px;
        margin-left: -8px;
}

.list-nav{
    display: flex;
    gap: 28px;
    
}
.nav-item-link{
color: var(--main-text-color);
font-size: 16px;
font-weight: 700;
}
.nav-item-link:hover,
.nav-item-link:focus{
    color: var(--accent-color);
}
.header-btn{
 color: var(--add-text-color);
 align-items: center;
 border-radius: 10px;
 border: none;
 font-weight: 700;
padding: 12px 36px 12px 36px ;
background-color: var(--accent-color);
display: block;
gap: 4px;
margin-left: auto;
}
.header-btn::after{
content: "";
display: inline-block;
height: 12px;
width: 12px;
background-image: url(../images/arrow-header.svg);
background-position: center;
padding-left: 2px;
}
.header-btn:hover, .header-btn:focus{
    cursor: pointer;
    background-color: #0A8817;
}
.header-btn:disabled{
background-color: #ABABAB;
}